*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: var(--light);
}
:root{
  --dark : #313154;
  --gray : #888;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --business :#3a82ee;
  --personal :#ea40a4;
  --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
  --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
  --light:#eee;
  --primary :#ea40a4;


 
}
input::placeholder{
  font-size: 15px;
  font-weight: bold;
  color: var(--gray);
}