@import './base.css';

/* ==== Greeting ==== */
.app {
    padding: 20px;
}
.app .greeting input[name="name"],
.title{
    color: var(--dark);
}
.app .greeting input[name="name"]{
   border: none;
   outline: none;
   font-size: 24px;
   font-weight: bold;
   width: 200px;
   background-color: transparent;
}

/* === Create A ToDo */
.createTodo{
    margin: 20px 0;
}
.createTodo h3,
.todoList h3{
    font-size: 18px;
    font-weight: 400;
    color: var(--dark);
    margin-bottom: 10px;
}
.createTodo .todoForm h4{
    margin-bottom: 2px;
    color: var(--gray);
    
}
.createTodo .todoForm .inputcontent{
    display: block;
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 6px;
    box-shadow: var(--shadow);
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
}
.createTodo .todoForm .options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.createTodo .todoForm .options label{
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    padding: 30px;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 6px;
    cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--business);
	box-shadow: var(--business-glow);
}

.bubble.personal {
	border-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble::after {
	content: "";
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: var(--personal);
	box-shadow: var(--personal-glow);
}
.bubble.business::after {
	background-color: var(--business);
	box-shadow: var(--business-glow);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.createTodo .todoForm .options label .optionName{
    margin-top: 20px;
    font-size: 18px;
    color: var(--dark);
}
.createTodo .todoForm .addBtn{
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
    background-color: var(--primary);
    color:#FFF;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: var(--personal-glow);
    font-size: 25px;
    cursor: pointer;
    transition: .2s ease-in-out ;
}
.createTodo .todoForm .addBtn:hover{
    opacity: .75;
}
/* ========
==== todoList 
=======*/

.todoList .todoItem {
    background-color: #FFF;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;


}
.todoItem label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoList input:checked ~ p{
    text-decoration: line-through;
}
.todoItem p{
    color: var(--gray);
   
    user-select: none;
    margin-left: 10px;
}
.todoItem .deleteBtn{
    padding: 10px;
    outline: none;
    border: none;
    background-color: red;
    color: #FFF;
    font-size: 15px;
    border-radius: 6px;
}